system {
    time-zone {{ location.time_zone }};
    authentication-order tacplus;
    root-authentication {
        encrypted-password "{{ global.root_hash }}";
    }
    name-server {
    {% for name_server in location.name_servers %}
        {{ name_server }};
    {% endfor %}
    }
    tacplus-server {
    {% for tacacs_server in location.tacacs_servers %}
        {{ tacacs_server.ip }} secret "{{ tacacs_server.secret }}";
    {% endfor %}
    }
    services {
        netconf {
            ssh;
        }
    }
    login {
        message "{{ global.login_message }}";
        user remote {
            class super-user;
        }
        user local_auth {
            class super-user;
            authentication {
                encrypted-password "{{ global.root_hash }}";
            }
        } 
    }
    syslog {
        user * {
            any emergency;
        }
        {% for server in location.syslog_servers %}
        host {{ server }} {
            any any;
            daemon info;
        }
        {% endfor %}
        file messages {
            any notice;
        }
        file cli-commands {
            interactive-commands any; 
            explicit-priority;
        }
        time-format millisecond;
    }
    ntp {
        {% for ntp_server in location.ntp_servers %}
        server {{ ntp_server }};
        {% endfor %}
    }
}
snmp { 
    location "{{ location.snmp.location }}"; 
    contact "{{ location.snmp.contact }}";
    {% for snmp in location.snmp.polling %}
    community {{ snmp.community }} { 
        authorization read-only; 
        clients {
            {{ snmp.clients }};
        }
    }
    {% endfor %}
    {% for snmp in location.snmp.traps %}
    trap-group {{ snmp.group_name }} { 
        targets { 
            {{ snmp.target }};
        }
    }
    {% endfor %}
} 